*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header1{
    background-color: #c7254e;
    height: 50px;
}

.a{
    color: white;
}
.a li{
    list-style: none;
    float: left;
    margin-left: 10px;
    margin-bottom: 5px;
}

.s1{
    float: right;
    padding: 4px 0;

}
.s1 li{
    margin-right: 10px;
    float: left;
    list-style: none;
    font-size: 15px;
}
.s2{
    color: white;
    background-color:#2e6da4 ;
    border-radius: 100%;
    padding: 10px;
}
.s2:hover{
    color: white;
    background-color: #3a589d;
}
.s3{
    color: white;
    background-color:black ;
    border-radius: 100%;
    padding: 10px;
}
.s3:hover{
    color: white;
}
.s4{
    color: white;
    background-color:#67b168 ;
    border-radius: 100%;
    padding: 10px;
}
.s4:hover{
    color: white;
    background-color: #449d44;
}
.s5{
    color: white;
    border-radius: 100%;
    padding: 10px;
}
.s5{
    color: white;
    background-color: #9f171e;
}
.v{
    float: left;
}
.v li{
    float: left;
    margin-left: 20px;
    list-style: none;
}
.v1{
    color: #999999;
    font-size: 20px;
}
.v3{
    color: black;
    font-size: 20px;
}
.v3:hover{
    text-decoration: none;
    color: #3c3c3c;
}
.v1:hover{
    color: black;
    text-decoration: none;
}
.c{
    float: right;
}

.c li{
    float: left;
    margin-right:20px ;
    list-style: none;
    font-size: 20px;
}
.c1{
    padding-left: 15px;
    color: #999999;
    border-left: 1px solid #999999;
}
.c2{
    color: #999999;
}
.c1:hover{
    color: black;
}
.c2:hover{
    color: #9f171e;
}
.c:hover.c1{
    color: black;
}
.c:hover.c2{
    color: #9f171e;
}












.container{
    width: 1200px;
}
.A1{
    float: left;
}
.A1 ul{
    color: white;
    list-style: none;
    padding: 0;
}
.A1 li{
    float: left;
    margin-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.a2{
    color: #e5e5e5;

}
.a2:hover{
    text-decoration: none;
    color: white;
}
.A2{
    font-size: 20px;
}
.A2{
    float: right;
    font-size: 30px;
}
.A2 li{
    font-size: 30px;
    float: left;
    list-style: none;
    margin-left: 20px;
}
.a3{
    color: #3a589d;
}
.a4{
    color: limegreen;
}
.a5{
    color: black;
}
.a6{
    color:#204d74;
}
.B{
    font-size: 30px;
}
.b1{
    color: #999999;
    font-size: 25px;
}
.b1:hover{
    color: black;
}
.b7 li{
    font-size: 20px;
    float:left;
    list-style: none;
    margin-left: 20px;
}
.nav{
    background-color: #c7254e;

}

.nav1{
    height: 70px;
    color: #ffffff;
}
.d li{
    float: left;
    margin-left: 10px;
}
.d1{
    font-size: 18px;
    list-style: none;
}
.d2{
    color: white;
}
.d2:hover{
    color: #e7e7e7;
    text-decoration: none;
}
.e1{
    float: right;
    padding: 10px 10px;
    color: white;
    background-color: #ce8483;
    border: 1px solid #e7e7e7;
    border-radius: 99px;
}


.P{
    font-size: 20px;
    margin-top: 20px;
}
.P1{
    color: #999999;
    margin-bottom: 20px;
}
.O1{
    padding: 10px 0 10px 5px;
    background-color: white;
    width: 80%;
    float: left;
    border: 1px solid #000000;
}
.O2{
    text-align: center;
    padding: 10px;
    width: 20%;
    background-color: #c7254e;
    float: right;
    border: 1px solid #000000;

}
.k9{
    font-size: 16px;
    padding: 10px 15px;
}
.k8{
    padding: 10px 15px;
    background-color: #c7254e;
    color: white;
    font-size: 16px;
}
.k8:hover{
    background-color: #9f171e;
}





.I{
    margin-top: 80px;
    font-size: 20px;
}
.u1{
    width: 100%;
    letter-spacing: 1px;
    color: black;
}
.u1:hover{
    text-decoration: none;
}
.section {
    margin-bottom: 30px;
}
.U{
    padding-bottom: 5px;
    margin-top: 20px;
    width: 100%;
    border-bottom: 1px solid #9d9d9d;
}
.Y{
    text-align: center;
}
.T{
    margin-top: 30px;
    height: 250px;
    box-sizing: border-box;

}
.T img{
    background-color: #449d44;
    max-width: 100%;
    height: auto;
}
.T9 {
    position: absolute;
    top: 50px;
    right: 30px;
    font-size: 30px;
    z-index: -1;
    color: #ffffff;
    border-radius:100%;
    border: 1px solid #e5e5e5;
    background-color: #999999;
}
.T9:hover{
    background-color: #c7254e;
    color: #ffffff;
}
.TT:hover .T9{
    z-index: 2;
}

.T2{
    text-align: center;
    font-size: 16px;
    color: #999999;
}
.T3{
    text-align: center;

}
.T4{
    list-style: none;
    color: black;
}
.T4:hover{
    text-decoration: none;
    color: #3c3c3c;
}
.T5{
    font-size: 20px;
    text-align: center;
}
.T6{
    padding: 10px 20px;
    text-align: center;
}
.T7{
    color:#ffffff;
    padding: 9px 15px 7px;
    background-color: #c7254e;
}
.T7:hover{
    background-color: #9f171e;
    color: white;
    text-decoration: none;

}
.T8{
    text-align: center;

}
.footer{
    background-color: #777777;
}
.R{
    color: white;
    font-size: 20px;
}
.W{
    margin-top: 30px;
}
.Q{
    color: #e5e5e5;
}
.L{
    margin-top: 20px;
    color: white;
}
.K{
    margin-top: 20px;
}
.K li{
    float: left;
    list-style: none;
}
.k1{
    font-size: 30px;
    height: 50px;
    width: 50px;
}
.k2{
    color: white;
}
.k3{

    color: white;
}
.k2:hover{

    color: #2e6da4;
}
.k3:hover{
    color: #449d44;
}
.H{
    margin-top:10px;
}
.F{
    margin-top:60px;
}
.D{
    margin-top:110px;
}
.g1{
    height: auto;
    width: 20%;
    float: left;
}
.g2{
    width: 80%;
    float: right;
}
.g3{
    border: 2px solid #e5e5e5;
    line-height: 1;
    width: 70%;
}
.g4{
    text-align: center;
    color: #c0a16b;
    font-size: 20px;
}
.g5{
    text-align: center;
    color: #c0a16b;
}
.B{
    width: 100%;
}
.B img{
    max-width: 100%;
}
.X{
    padding-top: 20px;
}
.X li{
    box-shadow:  black;
    list-style: none;
    margin-left: 5px;
    text-align: center;
}
.z1{
    border: 1px solid #777;
    padding: 10px 15px;
    float: left;
    background-color:#ffffff;
    border-radius: 100%;
}
.z1:hover{
    background-color: #c7254e;
}
.height40px{
    height: 30px;
}


.f1{
    color: white;
}
.f1:hover{
    color: #e5e5e5;
    text-decoration: none;
}